[defaults]
host_key_checking = False
inventory=../../hosts
gathering=explicit
transport=local
retry_files_enabled = False
roles_path = ../../roles
filter_plugins=../../filter_plugins

[persistent_connection]
connect_timeout = 1800
command_timeout = 1800
