{% if item == "csv" %}
Interface,Description,Administrative Status,Line Protocol,Subnet Mask,IP Address,Bandwidth,Duplex,MAC Address,Type,Media Type,MTU
{%     for interface in ansible_facts.net_interfaces %}
{{ interface }},{{ ansible_facts.net_interfaces[interface].description }},{{ ansible_facts.net_interfaces[interface].operstatus }},{{ ansible_facts.net_interfaces[interface].lineprotocol }},{% if ansible_facts.net_interfaces[interface].ipv4 %} {{ ansible_facts.net_interfaces[interface].ipv4 | regex_replace("\[{'subnet': ","") | regex_replace(" 'address': ","") | regex_replace("'","") | regex_replace("}\]","")}} {% else %} NA,NA {% endif %},{{ ansible_facts.net_interfaces[interface].bandwidth }},{{ ansible_facts.net_interfaces[interface].duplex }},{{ ansible_facts.net_interfaces[interface].macaddress }},{{ ansible_facts.net_interfaces[interface].type }},{{ ansible_facts.net_interfaces[interface].mediatype }},{{ ansible_facts.net_interfaces[interface].mtu }}
{%     endfor %}
{% else %}
# Interface Facts for {{ inventory_hostname }}
| Interface | Description | Administrative Status | Line Protocol | Subnet Mask | IP Address | Bandwidth | Duplex | MAC Address | Type | Media Type | MTU |
| --------- | ----------- | --------------------- | ------------- | ----------- | ---------- | --------- | ------ | ----------- | ---- | ---------- | --- |
{%     for interface in ansible_facts.net_interfaces %}
| {{ interface }} | {{ ansible_facts.net_interfaces[interface].description }} | {{ ansible_facts.net_interfaces[interface].operstatus }} | {{ ansible_facts.net_interfaces[interface].lineprotocol }} | {% if ansible_facts.net_interfaces[interface].ipv4 %} {{ ansible_facts.net_interfaces[interface].ipv4 | regex_replace("\[{'subnet': ","") | regex_replace(" 'address': ","") | regex_replace("'","") | regex_replace(","," | ") | regex_replace("}\]","")}} {% else %} NA | NA {% endif %} | {{ ansible_facts.net_interfaces[interface].bandwidth }} | {{ ansible_facts.net_interfaces[interface].duplex }} | {{ ansible_facts.net_interfaces[interface].macaddress }} | {{ ansible_facts.net_interfaces[interface].type }} | {{ ansible_facts.net_interfaces[interface].mediatype }} | {{ ansible_facts.net_interfaces[interface].mtu }} |
{%     endfor %}
{% endif %}